.carousel-inner>.carousel-item {
    height: 70vh;
}

.carousel-inner>.carousel-item>.carousel-caption {
    bottom: 0;
    padding: 0;
}

.carousel-inner>.carousel-item>.carousel-caption>p {
    margin: 5px;
}

.carousel-inner>.carousel-item>img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-height: 700px;
    width: auto;
}

.carousel-control-prev, .carousel-control-next {
    background-image: none;
}

.carousel-indicators li {
    background-color: #000;
}

.carousel-indicators {
    bottom: unset;
    margin: 0;
}

#carouselContainer {
    margin: 10px;
}

/* mobile */

@media (max-width: 768px) {
    .carousel-inner>.carousel-item {
        height: 40vh;
    }
}